<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLVxi420r1k3_BXz74cmhFGdEan1v9GtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>125791679910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardsEnglish</string>
	<key>PROJECT_ID</key>
	<string>cards-english</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-english.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125791679910:ios:46c0a2c2a3eb11ee09cb67</string>
</dict>
</plist>